<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Untitled Document</title>
		<%= javascript_include_tag "jquery-1.4.2.min.js"%>
		<%= javascript_include_tag "jquery.relative_offset.1.0.js"%>
		<%= javascript_include_tag "jquery.whowish_default_text.js"%>
		<%= javascript_include_tag "jquery.error_log.js"%>
		<%= javascript_include_tag "jquery.loading_button.js"%>
		<%= javascript_include_tag "jquery.json.js"%>
		<%= javascript_include_tag "form_validator_helper.js"%>
		<script src="http://static.ak.fbcdn.net/connect/en_US/core.debug.js"></script>
	</head>
	<body>
		<div id="fb-root">
			<table>
				<tr>
					<td><img src="http://graph.facebook.com/<%=$facebook.user_id%>/picture?type=square"></td>
					<td><%=yield%></td>
				</tr>	
			</table>
		
		</div>
	</body>
</html>
<script language="javascript">
	 FB.init({
	    appId  : '<%=APP_ID%>',
	    status : true, // check login status
	    cookie : true, // enable cookies to allow the server to access the session
	    xfbml  : false  // parse XFBML
	  });
	
	FB.Canvas.setAutoResize(100);

</script>
